node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# ai-rules
.cursorrules
.clinerules
.ai-rules-version.json
.github/copilot-instructions.md
.roo/rules
.cursor/rules
.roomodes
.roo/rules*

# env
.env
