@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&amp;display=swap");
@import "./theme.css";

body {
  margin: 0;
  padding: 0;
  /* 必要に応じて他のリセットも追加 */
  /* 例: font-family: sans-serif; (これは既に :root で設定されてるかもだけど) */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

:root {
  color-scheme: light dark;
  /* --md-sys-color-link はM3の標準トークンではないため、カスタムとして定義 */
  /* TODO: Consider aliasing from theme colors e.g. var(--md-sys-color-primary) */
  --custom-color-link: #3269e9;

  /* react-day-picker */
  /* These will now reference variables from theme.css */
  --rdp-accent-color: var(--md-sys-color-primary);
  --rdp-background-color: var(--md-sys-color-primary);
  --rdp-accent-color-dark: var(--md-sys-color-primary); /* Consider dark theme variables if/when implemented */
  --rdp-background-color-dark: var(--md-sys-color-primary); /* Consider dark theme variables if/when implemented */
  --rdp-outline: 2px solid var(--rdp-accent-color); /* Outline border for focused elements */
  --rdp-outline-selected: 3px solid var(--rdp-accent-color); /* Outline border for focused _and_ selected elements */

  /* Navigation Rail */
  --nav-rail-width: 80px;

  /* space */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-10: 40px;
  --space-11: 44px;
  --space-12: 48px;
  --space-13: 56px;
  --space-14: 64px;
  --space-15: 72px;
  --space-16: 80px;
  --space-17: 96px;
  --space-18: 128px;
  --space-19: 168px;
  --space-20: 256px;

  /* M3 Elevation Tokens */
  --md-sys-elevation-level0: none;
  --md-sys-elevation-level1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px
    0px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-level2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px
    0px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-level3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px
    rgba(0, 0, 0, 0.15);
  --md-sys-elevation-level4: 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 6px 10px
    4px rgba(0, 0, 0, 0.15);
  --md-sys-elevation-level5: 0px 4px 4px 0px rgba(0, 0, 0, 0.3), 0px 8px 12px
    6px rgba(0, 0, 0, 0.15);

  /* media */
  --media-compact: 600px;
  --media-medium: 840px;
  --media-expanded: 1200px;
  --media-large: 1600px;

  /* Opacity */
  --md-sys-state-hover-state-layer-opacity: 0.08;
  --md-sys-state-focus-state-layer-opacity: 0.1;
  --md-sys-state-pressed-state-layer-opacity: 0.1;

  /* Border radius */
  --md-sys-shape-corner-extra-small: 4px;
  --md-sys-shape-corner-medium: 12px;
  --md-sys-shape-corner-large: 16px; /* For Standard and Extended FAB */
  --md-sys-shape-corner-extra-large: 28px; /* For Large FAB */
  --md-sys-shape-corner-large-start: 16px 0 0 16px;
  --md-sys-shape-corner-full: 59%;

  /* Focus indicator */
  --md-sys-state-focus-indicator-outer-offset: 2px;
  --md-sys-state-focus-indicator-thickness: 3px;

  /** Typography */
  --md-ref-typeface-weight-bold: 700;
  --md-ref-typeface-weight-medium: 500;
  --md-ref-typeface-weight-regular: 400;
  --md-ref-typeface-plain: Open Sans, Noto Sans JP, sans-serif;
  --md-ref-typeface-brand: Open Sans, Noto Sans JP, sans-serif;

  /* M3 Typescale Tokens */
  /* Display */
  --md-sys-typescale-display-large-font-family-name: var(
    --md-ref-typeface-brand
  );
  --md-sys-typescale-display-large-font-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;

  --md-sys-typescale-display-medium-font-family-name: var(
    --md-ref-typeface-brand
  );
  --md-sys-typescale-display-medium-font-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;

  --md-sys-typescale-display-small-font-family-name: var(
    --md-ref-typeface-brand
  );
  --md-sys-typescale-display-small-font-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;

  /* Headline */
  --md-sys-typescale-headline-large-font-family-name: var(
    --md-ref-typeface-brand
  );
  --md-sys-typescale-headline-large-font-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;

  --md-sys-typescale-headline-medium-font-family-name: var(
    --md-ref-typeface-brand
  );
  --md-sys-typescale-headline-medium-font-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;

  --md-sys-typescale-headline-small-font-family-name: var(
    --md-ref-typeface-brand
  );
  --md-sys-typescale-headline-small-font-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;

  /* Title */
  --md-sys-typescale-title-large-font-family-name: var(--md-ref-typeface-brand);
  --md-sys-typescale-title-large-font-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;

  --md-sys-typescale-title-medium-font-family-name: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-medium-font-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;

  --md-sys-typescale-title-small-font-family-name: var(--md-ref-typeface-plain);
  --md-sys-typescale-title-small-font-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;

  /* Label */
  --md-sys-typescale-label-large-font-family-name: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-large-font-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;

  --md-sys-typescale-label-medium-font-family-name: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-medium-font-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;

  --md-sys-typescale-label-small-font-family-name: var(--md-ref-typeface-plain);
  --md-sys-typescale-label-small-font-weight: var(
    --md-ref-typeface-weight-medium
  );
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;

  /* Body */
  --md-sys-typescale-body-large-font-family-name: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-large-font-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;

  --md-sys-typescale-body-medium-font-family-name: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-medium-font-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;

  --md-sys-typescale-body-small-font-family-name: var(--md-ref-typeface-plain);
  --md-sys-typescale-body-small-font-weight: var(
    --md-ref-typeface-weight-regular
  );
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
}

.stateLayerBase::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
}

/* M3 Typescale Classes */
.typescale-display-large {
  font-family: var(--md-sys-typescale-display-large-font-family-name);
  font-weight: var(--md-sys-typescale-display-large-font-weight);
  font-size: var(--md-sys-typescale-display-large-font-size);
  line-height: var(--md-sys-typescale-display-large-line-height);
  letter-spacing: var(--md-sys-typescale-display-large-letter-spacing);
}

.typescale-display-medium {
  font-family: var(--md-sys-typescale-display-medium-font-family-name);
  font-weight: var(--md-sys-typescale-display-medium-font-weight);
  font-size: var(--md-sys-typescale-display-medium-font-size);
  line-height: var(--md-sys-typescale-display-medium-line-height);
  letter-spacing: var(--md-sys-typescale-display-medium-letter-spacing);
}

.typescale-display-small {
  font-family: var(--md-sys-typescale-display-small-font-family-name);
  font-weight: var(--md-sys-typescale-display-small-font-weight);
  font-size: var(--md-sys-typescale-display-small-font-size);
  line-height: var(--md-sys-typescale-display-small-line-height);
  letter-spacing: var(--md-sys-typescale-display-small-letter-spacing);
}

.typescale-headline-large {
  font-family: var(--md-sys-typescale-headline-large-font-family-name);
  font-weight: var(--md-sys-typescale-headline-large-font-weight);
  font-size: var(--md-sys-typescale-headline-large-font-size);
  line-height: var(--md-sys-typescale-headline-large-line-height);
  letter-spacing: var(--md-sys-typescale-headline-large-letter-spacing);
}

.typescale-headline-medium {
  font-family: var(--md-sys-typescale-headline-medium-font-family-name);
  font-weight: var(--md-sys-typescale-headline-medium-font-weight);
  font-size: var(--md-sys-typescale-headline-medium-font-size);
  line-height: var(--md-sys-typescale-headline-medium-line-height);
  letter-spacing: var(--md-sys-typescale-headline-medium-letter-spacing);
}

.typescale-headline-small {
  font-family: var(--md-sys-typescale-headline-small-font-family-name);
  font-weight: var(--md-sys-typescale-headline-small-font-weight);
  font-size: var(--md-sys-typescale-headline-small-font-size);
  line-height: var(--md-sys-typescale-headline-small-line-height);
  letter-spacing: var(--md-sys-typescale-headline-small-letter-spacing);
}

.typescale-title-large {
  font-family: var(--md-sys-typescale-title-large-font-family-name);
  font-weight: var(--md-sys-typescale-title-large-font-weight);
  font-size: var(--md-sys-typescale-title-large-font-size);
  line-height: var(--md-sys-typescale-title-large-line-height);
  letter-spacing: var(--md-sys-typescale-title-large-letter-spacing);
}

.typescale-title-medium {
  font-family: var(--md-sys-typescale-title-medium-font-family-name);
  font-weight: var(--md-sys-typescale-title-medium-font-weight);
  font-size: var(--md-sys-typescale-title-medium-font-size);
  line-height: var(--md-sys-typescale-title-medium-line-height);
  letter-spacing: var(--md-sys-typescale-title-medium-letter-spacing);
}

.typescale-title-small {
  font-family: var(--md-sys-typescale-title-small-font-family-name);
  font-weight: var(--md-sys-typescale-title-small-font-weight);
  font-size: var(--md-sys-typescale-title-small-font-size);
  line-height: var(--md-sys-typescale-title-small-line-height);
  letter-spacing: var(--md-sys-typescale-title-small-letter-spacing);
}

.typescale-label-large {
  font-family: var(--md-sys-typescale-label-large-font-family-name);
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-size: var(--md-sys-typescale-label-large-font-size);
  line-height: var(--md-sys-typescale-label-large-line-height);
  letter-spacing: var(--md-sys-typescale-label-large-letter-spacing);
}

.typescale-label-medium {
  font-family: var(--md-sys-typescale-label-medium-font-family-name);
  font-weight: var(--md-sys-typescale-label-medium-font-weight);
  font-size: var(--md-sys-typescale-label-medium-font-size);
  line-height: var(--md-sys-typescale-label-medium-line-height);
  letter-spacing: var(--md-sys-typescale-label-medium-letter-spacing);
}

.typescale-label-small {
  font-family: var(--md-sys-typescale-label-small-font-family-name);
  font-weight: var(--md-sys-typescale-label-small-font-weight);
  font-size: var(--md-sys-typescale-label-small-font-size);
  line-height: var(--md-sys-typescale-label-small-line-height);
  letter-spacing: var(--md-sys-typescale-label-small-letter-spacing);
}

.typescale-body-large {
  font-family: var(--md-sys-typescale-body-large-font-family-name);
  font-weight: var(--md-sys-typescale-body-large-font-weight);
  font-size: var(--md-sys-typescale-body-large-font-size);
  line-height: var(--md-sys-typescale-body-large-line-height);
  letter-spacing: var(--md-sys-typescale-body-large-letter-spacing);
}

.typescale-body-medium {
  font-family: var(--md-sys-typescale-body-medium-font-family-name);
  font-weight: var(--md-sys-typescale-body-medium-font-weight);
  font-size: var(--md-sys-typescale-body-medium-font-size);
  line-height: var(--md-sys-typescale-body-medium-line-height);
  letter-spacing: var(--md-sys-typescale-body-medium-letter-spacing);
}

.typescale-body-small {
  font-family: var(--md-sys-typescale-body-small-font-family-name);
  font-weight: var(--md-sys-typescale-body-small-font-weight);
  font-size: var(--md-sys-typescale-body-small-font-size);
  line-height: var(--md-sys-typescale-body-small-line-height);
  letter-spacing: var(--md-sys-typescale-body-small-letter-spacing);
}
